{% extends 'base_user.html' %}
{% load static %}
{% load socialaccount %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock link %}
{% block main-container %}
    <div class="container">       
        <h1>RADHYA JEWELS</h1>
    </div>
    <div class="sign-in-form">
        <form action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
            {% endif %}
            {% for fm in form %}
                {{fm.label_tag}}{{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small><br><br>
            {% endfor %}
            <button type="submit" class="continue">Submit</button>
        </form>
    </div>


{% endblock main-container %}
