{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static '/blog/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
{% endblock css %}
{% block content %}
    <section class="block block-padding-up">
      <img class="flower-bg-up blog-page" src=" {% static 'app/images/bg/depositphotos_318254452-stock-photo-a-bouquet-of-beautiful-pink 8.png' %} "></img>
        <h1 class="greet">Blogs</h1>
        
        <div class="ar_bg"></div>
      <!-- <div class="grid grid--1x2"> -->
        {% for data in dt %}
        <div class="top-block">
        <div class="img">
          <img class="feature__image" src="{{data.blog_img.url}}" alt="" />
        </div>
        <div class="text read-more">
          <h1 class="read-more-heading">{{data.title}}</h1>
          <p class="greeting-text-blog" style="overflow: hidden;">
            {{data.discription}}
          </p>
    
          {% endfor %}
        </div>
      </div>
      <!-- <img class="flower-bg-down" src="./images/bg/depositphotos_318254452-stock-photo-a-bouquet-of-beautiful-pink 8.png"></img> -->
    </section>
    <section>
      <div class="container-fluid my-5">
        <div class="row">
            <div class="col-12 m-auto">
                <div class="owl-carousel owl-theme">
                    {% for fm in form %}
                    <div class="item mb-4">
                        <div class="card border-0 shadow">
                           
                                <img class="img-carausel square" src="{{fm.blog_img.url}} " alt="image not found" class="card-img-top">
                                <div class="card-body">
                                <div class="card-title text-center">
                                <a class="carousel-link" href=" {% url 'blogdetail' fm.id %}">Read More</a>
                                </div>
                            
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>      
    </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"></script>
    <script>
      $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 15,
          nav: false,
          responsive: {
              0: {
                  items: 1
              },
              600: {
                  items: 2
              },
              1000: {
                  items: 3
              }
          }
      })
    </script>
    <div class="bg-container">
    <img class="sp-flower-bg" src="{% static 'app/images/bg/depositphotos_318254452-stock-photo-a-bouquet-of-beautiful-pink 8.png' %} "></img>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static '/blog/main.js' %}"></script>
{% endblock js %}