{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Poppins:wght@200&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'product/css/styles.css' %}">

{% endblock css %}

{% block title %}
Product
{% endblock title %}

{% block content %}
    <div class="text-center mt-5">
        <div class="arrival">PRODUCT</div>
        <img src="{%static '/app/images/Radhya/d1.svg' %}" style="margin-top: -7%;" alt="">
    </div>
    <div class="product-view">
        <div class="images">
            <div class="main-img">
                <img id="main-image" class="responsive" src="{{ product.get_primary_image }}" alt="">
            </div>
            <div class="other-images">
                {% for img in product.images.all %}
                    <img class="static-img" src="{{ img.image.url }}" alt="">
                {% endfor %}
            </div>
        </div>
        <div class="fields">
            <h1>{{ Product.name }}
            </h1>
            <div class="product-rating">
                <div class="stars">
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star"></i>
                </div>
                <P class="no-of-reviews">20 Reviews</P>
            </div>
            <form action="{% url 'cart_add' product.id %}" method='post'>
                {% csrf_token %}
                <div class="product-form">
                    <div class="product-form-field">
                        <label for="size">Select Size</label>
                        <a class="link-product" href=""><nobr>Don’t know your ring size?</nobr></a>
                        <br>
                        <select id="sizes" name='sizes' class="product-form-select">
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class="product-form-field">
                        <label for="metals">Metal</label>
                        <br>
                        <select id="metals" name='metal' class="product-form-select">
                            <option value="gold">GOLD</option>
                            <option value="silver">SILVER</option>
                            <option value="bronze">BRONZE</option>
                            <option value="platinum">PLATINUM</option>
                        </select>
                    </div>
                    <div class="product-form-field">
                        <label for="diamond">Diamond</label>
                        <a class="link-product" href="">Diamond Guide</a>
                        <br>
                        <select id="diamond" name='diamond' class="product-form-select">
                            <option value="ij-si">IJ-SI</option>
                            <option value="13">filler</option>
                            <option value="14">filler</option>
                            <option value="15">filler</option>
                        </select>
                    </div>
                </div>
                <div class="bestseller">
                    Bestseller
                </div>
                <div class="price">
                    <div class="keep">Rs. {{ product.price }}</div>
                    {% comment %} <div class="cut">Rs.40000</div> {% endcomment %}
                </div>
                {% comment %} <div class="flat">Flat 10% on MRP</div> {% endcomment %}
                <div class="cart-buttons">
                    {% comment %} <button class="add-to-cart">  {% endcomment %}
                        {% comment %}   onClick='addToCart("{{ product.id }}", "{{ product.name }}",
                     "{{ product.price }}",
                     "{{ product.stocks }}",
                     "{{ product.get_primary_image }}")'>
                      {% endcomment %}
                    {% comment %} <nobr>Add to Cart</nobr></button> {% endcomment %}
                    <input type="submit" name='add_to_cart' class='add-to-cart' value="Add to cart">
                    {% comment %} <button class="buy-now"><nobr>Buy Now</nobr></button> {% endcomment %}
                    <input type="submit" name='buy_now' class="buy-now" value="Buy Now">
                </div>
            </form>
        </div>
    </div>
    <div class="product-detail">
        <h2 class="product-detail-heading">Product Details</h2>
        <ul class="product-desc">
            <li>width - 6 mm</li>
            <li>height - 5.6 mm</li>
            <li>purity - 14kt</li>
            <li>weight - 1.99 g</li>
            <li>size - 12</li>
        </ul>
    </div>
    <div class="diamond-detail">
        <h2 class="product-detail-heading">Diamond Details</h2>
        <table>
            <tr>
                <th>DIAMOND TYPE</th>
                <th>SETTING TYPE</th>
                <th>TOTAL NUMBER</th>
                <th>TOTAL WEIGHT</th>
            </tr>
            <tr>
                <td>IJ-SI</td>
                <td>Prong</td>
                <td>19</td>
                <td>0.092 ct</td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block js %}
{% comment %} <script>
    window.addEventListener("DOMContentLoaded", (event) => {
        cart = new Cart();
    });
</script> {% endcomment %}
    {% comment %} <script src="{% static 'cart/js/cart.js' %}" async></script> {% endcomment %}
    <script src="https://kit.fontawesome.com/9dddb02c5f.js" crossorigin="anonymous"></script>
    <script>
        const staticImages = document.querySelectorAll(".static-img");
        const mainImage = document.getElementById('main-image');
        staticImages.forEach(element => {
            element.addEventListener("click",()=>{
                mainImage.src = element.getAttribute("src");
            })
        });
    </script>
{% endblock js %}    
