{% extends 'base_user.html' %}
{% load static %}
{% block main-content %}
<div class="container col-sm-5  pt-10 ">
    <div class="form-group p-3 shadow ">
        <form action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <small class="text-danger">{{error}}</small>
                {% endfor %}
            {% endif %}
            {% for fm in form %}
                {{fm.label_tag}}{{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small><br><br>
            {% endfor %}
            <input type="submit" value="Submit" class='btn btn-primary '>
        </form>
    </div>
</div>
{% endblock main-content %}
