{% extends 'app/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock link %}

{% block main-container %}
<div class="">
    <div class="Contact"><img src="{% static 'app/images/img/back.png' %}" ><h1>CONTACT US</h1></div>
    <div class="main">
        <img src="{% static 'app/images/img/flower.png' %} " class="topper">
        <div class="left">
            <h3>We’d  love to here about 
            your project.</h3>
            <img src="{% static 'app/images/img/location.png' %}" class="location">
        </div>
            <img src="{% static 'app/images/img/flower.png' %} " class="bottom">
            <div class="right">
                <p>Scelerisque sit et bibendum molestie duis in velit dis. Ac viverra nunc nulla sed dui. Et faucibus lobortis ultrices fermentum luctus feugiat semper.</p>
                <p>Scelerisque sit et bibendum molestie duis in velit dis. Ac viverra nunc nulla sed dui. Et faucibus lobortis ultrices fermentum luctus feugiat semper.</p>
            <div class="contactUsForm">
                <form action="">
                    <h4>Reach Out to Us</h4><img src="{% static 'app/images/img/label.png' %} " class="label">
                    <input type="text" class="text" placeholder="Your Name"><br>
                    <input type="email" class="text" placeholder="Email Address">
                    <input type="text" class="text" placeholder="Your Message"><br>
                    <input type="button" value="Submit" class="button">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-container %}

