{% extends 'app/base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'app/css/style1.css' %}">
{% endblock link %}
{% block main-container %}
<div class="container">
        
    <h1>RADHYA JEWELS</h1>
</div>
<div class="sign-in-form">
    <form action="">
    
    <h1>Sign in</h1>
    <p>New user ? <a href="{% url 'login' %}">Create an Account</a></p>
    
    <input type="email" placeholder="Enter your Email Address" name="email" id="email" required>
    <button type="submit" class="continue">Continue</button>
    <hr>
    <p class="or"> or </p>
    <button type="button" id="signup-google" class="signup-google" ><i class="fab fa-google"></i>
         Continue with Google</button>
    <button type="button" id="signup-facebook" class="signup-facebook"><i class="fab fa-facebook-f"></i> Continue with Facebook</button>
    <button type="button" id="signup-apple" class="signup-apple"> <i class="fab fa-apple"></i> Continue with Apple</button>

    </form>
</div>
{% endblock main-container %}