<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Women Rings Collection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <header>
      <nav class="nav collapsible">
        <h1 style="color: #fff8f8">LOGO</h1>
        <svg class="icon icon--white nav__toggler">
          <use href="./images/menu.svg"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li>
            <input class="navbar-search" type="text" placeholder="Search" />
          </li>
          <li class="nav__item"><a href="#">login</a></li>
          <li class="nav__item"><a href="#">My Wishlist</a></li>
          <li class="nav__item"><a href="#">Cart</a></li>
        </ul>
      </nav>
    </header>
    <h1 class="greet">Women Rings Collection</h1>
    <div class="ar_bg"></div>
    <div class="rings-collection-mobile">
      <h2>Collections</h2>
      <ul>
        <li class="onClickColor collection-mobile">Solitaire Collection</li>
        <li class="onClickColor collection-mobile">Cocktail Collection</li>
        <li class="onClickColor collection-mobile">stone ring Collection</li>
        <li class="onClickColor collection-mobile">Regular wear</li>
      </ul>
    </div>
    <div class="rings-collection">
      <div class="ring">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="ring-name">Solitaire Collection</div>
        </div>
      </div>
      <div class="ring">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="ring-name">Cocktail Collection</div>
        </div>
      </div>
      <div class="ring">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="ring-name">Stone Ring Collection</div>
        </div>
      </div>
      <div class="ring">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="ring-name">Regular Wear</div>
        </div>
      </div>
    </div>
    <div class="filter-bar">
      <div class="no-of-results">
        Showing 100 results for rings
      </div>
      <div class="c-f-container">
        <div class="collection-name" id="collection-heading">Stone Ring Collection</div>
        <div class="filter-icons">
          <i class="fas fa-filter"></i><i class="fas fa-vector-square"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 7.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
      <div class="product">
        <div class="img-area">
          <img src="./images/bg/Rectangle 5.png" alt="" />
          <div class="img-text">
            <a class="view-product" href="#"><nobr>View Product</nobr></a>
          </div>
        </div>
        <div class="product-info">
          <div class="type">Ring</div>
          <p class="p-name">Simaya diamond Ring</p>
          <div class="ring-price">Rs.79,000</div>
          <a class="shop-now" href="#">Shop Now</a>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/9dddb02c5f.js"
      crossorigin="anonymous"
    ></script>
    <script>
      const onClickColor = document.querySelectorAll(".onClickColor");
      onClickColor.forEach(element => {
        element.addEventListener("click",()=>{
          const color = element.style.color;
          element.style.color = "#f78383";
          setTimeout(()=>{
            element.style.color=color;
          },300)
        })
      });

      const Collections = document.querySelectorAll(".ring");
      const heading = document.getElementById("collection-heading");
      Collections.forEach(element => {
        element.addEventListener("click",()=>{
          //console.log(element.children[0].children[1].innerHTML);
          heading.innerHTML=element.children[0].children[1].innerHTML;
        })
      });

      const collectionsMobile = document.querySelectorAll(".collection-mobile");
      collectionsMobile.forEach(element=>{
        element.addEventListener("click", ()=>{
          //console.log(element.innerHTML);
          heading.innerHTML=element.innerHTML;
        })
      })
    </script>
  </body>
</html>
